/* CSS Document */
body {margin:0; padding:0; background-color:#f8f8f4;}
#wrapperBox{margin:0 auto; padding:0; width:800px; background-image:url(../images/background.gif); background-repeat:no-repeat;}
#wrapperBox #heading, #wrapperBox #contentWrapper{width:736px; margin:0; margin-left:30px; margin-right:34px; padding:0;}
.addclear:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}

#heading table{margin-top:25px;}
#heading table td p{margin:0; padding:5px; font:bold 10px Tahoma, Geneva, sans-serif;}
#menu{height:164px; vertical-align:bottom;}
#menu p{ text-align:right; }
#submenu span, #menu p a, #submenu p a{padding:0 3px;}
#submenu .wsmsm span, #menu .wsmsm span{color:#a53276;}
#submenu .wsmsm a:hover, #menu .wsmsm a:hover{color:#a53276;}
#submenu .camsm span, #menu .camsm span{color:#bf9b20;}
#submenu .camsm a:hover, #menu .camsm a:hover{color:#bf9b20;}
#submenu .immsm span, #menu .immsm span{color:#63ac9b;}
#submenu .immsm a:hover, #menu .immsm a:hover{color:#63ac9b;}
#submenu .famsm span, #menu .famsm span{color:#919342;}
#submenu .famsm a:hover, #menu .famsm a:hover{color:#919342;}
#submenu .mwmsm span, #menu .mwmsm span{color:#e5874a;}
#submenu .mwmsm a:hover, #bmenu .mwmsm a:hover{color:#e5874a;}

#contentWrapper .leftCoumnContent{width:456px; margin:20px 0; padding:0; float:left;}
#contentWrapper .rightColumnContent{width:267; margin:20px 0; padding:0; float:right;}
#contentWrapper .oneColumnContent{width:736px; margin:10px 0; padding:0; clear:both;}
#footer{clear:both; margin:30px auto; width:736px;}
#footer p{text-align:center !important; color:#d31145;}
#footer a:hover{text-decoration:underline;}

.menu{display:none;margin:0;padding:0px; font-size:11px; font-weight:bold;}
.menu a{color:#0482b1 !important;}

/*#header .submenu img, #TableHd .mainMenu img{padding:3px;}*/

td p, p, table caption{font:13px Arial, Helvetica, sans-serif;color:#3a1c02;margin:5px 0 10px 10px;}
td p{margin:7px 5px;}
table caption{caption-side:bottom; text-align:left;}
td li, li {font:13px Arial, Helvetica, sans-serif;;color:#3a1c02;margin:10px 0 10px 0;}
th p{color:#fff;}
h1{font:bold 24px "Trebuchet MS", Arial, Helvetica, sans-serif; margin:5px 0 0 10px;}
h2{font:bold 18px "Trebuchet MS", Arial, Helvetica, sans-serif; margin:5px 0 0 10px;}
h1.ca, h2.ca{color:#bf9b20}
hr.ca{color:#c47440;}
h1.fa, h2.fa{color:#919242}
hr.fa{color:#e68749;}
h1.ws, h2.ws{color:#a63178}
hr.ws{color:#e68749;}
h1.mw, h2.mw{color:#e5874a}
hr.mw{color:#e68749;}
h1.im, h2.im{color:#64af9a}
hr.im{color:#e68749;}
.h1{margin:0 0 2px 10px;}
.h2{margin:0 0 2px 10px;}
td h3, h3 {font:bold 15px Arial, Helvetica, sans-serif;margin:0 0 0 10px;}
td hr, hr {margin:0px;padding:0px;height:0;border-top-style:solid;border-bottom-style:none;border-left-style:none;border-right-style:none;}
td a , a{color:#3a1c02;text-decoration:none;}
td ul, ul{margin-left:17px;margin-top:0px;padding-left:17px;padding-top:0px;}

.toaPDFfile, .toaExternalSite{background:url(../images/pdfIcon.gif) no-repeat #eae9e0 5px 3px; height:35px; padding:5px; margin:5px 0; width:255px;}
.toaExternalSite{background-image:none;}
.toaPDFfile p, .toaExternalSite p{margin:0; font-size:11px; font-weight:bold; vertical-align:middle; padding-left:45px;}
.toaPDFfile a, .toaExternalSite a{color:#572700;}
.rightColumnContent p{margin:0 0 7px;}
.rightColumnContent table{width:267px; margin:0; padding:0;margin-bottom:5px; background-color:#dbdac8}
.rightColumnContent td p{margin:5px 0 0 10px;}
.rightColumnContent td h3{margin:15px 0 0 10px; font-weight:normal;}
.rightColumnContent td li{margin:06px 0 10px 0;}
.rightColumnContent td ul.list {margin-left:13px;margin-top:0;padding-left:13px;padding-top:0;}

#righttablewine h3 {color:#a53276;}
#righttablewine li {margin:06px 0 10px 0;}
#righttablecigar h3 {color:#c47440;;}
#righttablefood h3 {color:#919342;}
#righttablemarket h3 {color:#e5874a;}
#righttableimpact h3 {color:#63ac9b;}

#table02 p {font:11px Arial, Helvetica, sans-serif;margin:10px 0 10px 0;}
#table02 p.title {font:12px Arial, Helvetica, sans-serif;color:#fff;margin:5px 0 5px 0;}

#calender p {font:11px Arial, Helvetica, sans-serif;margin:08px 0 08px 15px;}
#calender p.title {font:12px Arial, Helvetica, sans-serif;color:#fff;margin:5px 0 05px 0;}
.big {font-size:14px;}

#adplacetable ul{margin-left:18px;margin-top:0;padding-left:18px;padding-top:0;}
#adplacetable li{font:13px Arial, Helvetica, sans-serif;color:#000;margin:5px 0 5px 0;}

/* for new slider */
.container, .container div, .container ul, .container ul li { padding:0; margin:0; }
.container{ width:736px; height:325px; }
.image-slider-wrapper{ overflow:hidden; }
#image_slider{ position:relative; overflow:hidden; height:325px; left:0; }
#image_slider li{ position:relative; max-width:100%; float:left; list-style:none; list-style-type:none; left:0; }
