
<% var tmp = current.source %>
<% var type = tmp.split(/[-]+/) %>
<% var cur = public._data.winespectator.menu.magazine.submenu %>
<% var elClass %>
<% var curClass %>
<% var pub = "magazine" %>



<% if (type[0] === 'wso' || type[0] === 'cao') { %>
	<% pub = "online" %>
<% } else if (type[0] === 'wsm' || type[0] === 'cam' || type[0] === 'imm' || type[0] === 'mwm' || type[0] === 'index') { %>
	<% pub = "magazine" %>
<% } else if (type[0] === 'ws' || type[0] === 'cs' || type[0] === 'im' || type[0] === 'mw') { %>
	<% pub = "events" %>
<% } %>


<tr>
	<td id="submenu">
<% switch (current.path[0]) { 
	case "winespectator": %>
	<% cur = public._data.winespectator.menu[pub].submenu %>
		<p class="wsmsm">
		<% break
	case "cigaraficionado": %>
	<% cur = public._data.cigaraficionado.menu[pub].submenu %>
		<p class="camsm">
		<% break
	case "marketwatch": %>
	<% cur = public._data.marketwatch.menu[pub].submenu %>
		<p class="mwmsm">
		<% break
	case "impact": %>
	<% cur = public._data.impact.menu[pub].submenu %>
		<p class="immsm">
		<% break
	default: %>
		
		<% break
} %>

<% for(var submenu in cur ){ %>
	<% if( cur[submenu].url == current.source ){ 
  		curClass = "current"
  	} else {
  		curClass = ""
  	} %>
  	<% if( cur[submenu].url == "contact" ){ 
  		curClass = "popup"
  	} %>
		<span><a href="<%= cur[submenu].url %>" class="<%= curClass %>" target="<%= cur[submenu].target %>"><%= cur[submenu].title %></a></span> |
<% }; %>
		</p>
	</td>
</tr>

