
				<h1>CALENDARS</h1>
				<hr>
				
                <h2>2014 Issue Dates and Deadlines</h2>
				<hr>
				
				
				<table>
				<tr>
					<th>Cover<br />Date</th>
					<th>Space<br />Close</th>
					<th>Material<br />Due</th>
					<th>Subscriber Mail Date</th>
					<th>Newsstand<br />On-Sale Date</th>
				</tr>
				<tr>
					<td>Jan/Feb 2014</td>
					<td>Nov. 22, 2013</td>
					<td>Dec. 2, 2013</td>
					<td>Dec. 20, 2013</td>
					<td>Jan. 10, 2014</td>
				</tr>
				<tr>
					<td>March/April 2014</td>
					<td>Jan. 13, 2014</td>
					<td>Jan 17, 2014</td>
					<td>Feb. 11, 2014</td>
					<td>March 4, 2014</td>
				</tr>
				<tr>
					<td>May/June 2014</td>
					<td>March 3, 2014</td>
					<td>March 7, 2014</td>
					<td>April 1, 2014</td>
					<td>April 22, 2014</td>
				</tr>
				<tr>
					<td>July/August 2014</td>
					<td>May 5, 2014</td>
					<td>May 9, 2014</td>
					<td>June 3, 2014</td>
					<td>June 24, 2014</td>
				</tr>
				<tr>
					<td>Sept/Oct 2014</td>
					<td>July 7, 2014</td>
					<td>July 11, 2014</td>
					<td>August 5, 2014</td>
					<td>August 26, 2014</td>
				</tr>
				<tr>
					<td>Nov/Dec 2014</td>
					<td>Sept. 8, 2014</td>
					<td>Sept. 12, 2014</td>
					<td>Oct. 7, 2014</td>
					<td>Oct. 28, 2014</td>
				</tr>
				<tr>
					<td>Jan/Feb 2015</td>
					<td>Nov. 24, 2014</td>
					<td>Nov. 28, 2014</td>
					<td>Dec. 19, 2014</td>
					<td>Jan. 13, 2015</td>
				</tr>
				</table>
